<div class="row">
  <div class="col-md-12">
  
          <%= form_for(@topic, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          
           <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :name, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.text_field :name, class: 'form-control com-form', placeholder: "Name of topic", autofocus: true %>
             </div>
           </div>
          
          <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :description, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.text_area :description, rows: 5, class: 'form-control com-form', placeholder: "Add topic description" %>
             </div>
           </div>
           
            <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :picture, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png', class: 'form-control com-form', placeholder: "Add picture here.." %>
             </div>
           </div>
          
          
          
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <%= f.submit class: "btn btn-primary bttn" %> 
              <%= link_to "Back to Index", topics_path, class: "btn btn-warning bttn" %>
            </div>
          </div>
        
        <% end %>
      </p>
   
  </div>
</div>

<script type="text/javascript">
   $(‘#topic_picture').bind('change', function() {
     var size_in_megabytes = this.files[0].size/1024/1024;
     if (size_in_megabytes > 5) {
       alert('Maximum file size is 5MB. Please choose a smaller file.');
     }
   });
 </script>
