<div class="row">
  <div class="col-md-12">
  
          <%= form_for(@topic, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          
           <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :name, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.text_field :name, class: 'form-control', placeholder: "Name of todo", autofocus: true %>
             </div>
           </div>
          
          <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :description, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.text_area :description, rows: 5, class: 'form-control', placeholder: "Add todo description" %>
             </div>
           </div>
          
          
          
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <%= f.submit class: "btn btn-primary bttn" %> 
              <%= link_to "Back to Index", topics_path, class: "btn btn-warning bttn" %>
            </div>
          </div>
        
        <% end %>
      </p>
   
  </div>
</div>
