<div class="well">
  <h2 align="center">Show</h2>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h4>
        Name: <%= @topic.name %>
      </h4>
      <p class="bttn"><%= image_tag @topic.picture.url if @topic.picture? %></p>
      <br />
      <h5>
        Description: <%= @topic.description %>
      </h5>
      
      <p><%= link_to "Index", topics_path, class: "btn btn-primary bttn" %>
         <%= link_to "Edit", edit_topic_path, class: "btn btn-warning bttn" %>
         <%= link_to "Delete", topic_path(@topic), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger bttn" %></p>
    </div>
  </div>
</div>


