<div class="row">
  <div class="col-md-12">

          <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
           <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :name, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.text_field :name, class: 'form-control com-form', placeholder: "Name", autofocus: true %>
             </div>
           </div>
          
          <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :email, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.email_field :email, class: 'form-control com-form', placeholder: "Enter your e-mail address" %>
             </div>
           </div>
           
           <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :picture, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png', class: 'form-control com-form', placeholder: "Add picture here.." %>
             </div>
           </div>
           
           <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :password, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.password_field :password, class: 'form-control com-form', placeholder: "Create a Password..." %>
             </div>
           </div>
           
            <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :password_confirmation, class: 'labled' %> 
             </div>
             <div class="col-md-8">
               <%= f.password_field :password_confirmation, class: 'form-control com-form', placeholder: "Please re-enter your password.." %>
             </div>
           </div>


         <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                      <%= f.submit class: "btn btn-primary bttn" %> 
                      <%= link_to "Users", users_path, class: "btn btn-warning bttn" %> 
                    </div>
                  </div>
                <% end %>
              </p>
          </div>
        </div>
    <script type="text/javascript">
       $(‘#user_picture').bind('change', function() {
         var size_in_megabytes = this.files[0].size/1024/1024;
         if (size_in_megabytes > 5) {
           alert('Maximum file size is 5MB. Please choose a smaller file.');
         }
       });
    </script>
