<div class="well">
  <h2 align="center">User</h2>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h4>
        Name: <%= @user.name %>
      </h4>
      <p align="center"><%= image_tag @user.picture.url, class: "showImage" if @user.picture? %></p>
      <br />
      <h5>
        Description: <%= @user.email %>
      </h5>
      
      <p><%= link_to "All Users", users_path, class: "btn btn-primary bttn" %>
         <%= link_to "Edit", edit_user_path, class: "btn btn-warning bttn" %>
         <%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger bttn" %></p>
    </div>
  </div>
</div>